* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carousel {
   display: flex;
   justify-content: center; 
   align-items: center;  
   height: 100vh;
}

.carousel-element{
    height: 50vh;
}

.container-thumbs {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50vh;
}

.thumb {
    height:calc(100%/5)
}

.thumb img {
    object-fit: cover;
    overflow: hidden;
    opacity: .5;
    height: 100%;
    width: 100%;
}

.card img {
    height:100%;
    width: 100%; 
    object-fit: cover;
}

.card {
    position: relative;
    color: white;
    height: 100%; 
    width: 700px;
}

.text-container {
    position: absolute;
    bottom: 10%;
    right: 20px;
    text-align: right;
}

.card.active {
    display:block;
}


.thumb.active img {
    border: 2px solid yellow;
    opacity: 1;
}

.arrow-up {
    height:30px;
    width:30px;
    background-color:white;
    position:absolute;
    top: 5px;
    left:calc(50% - 15px);
    text-align: center;
    line-height:30px;
    border-radius:50%;
    z-index: 1;
}

.arrow-down {
    height:30px;
    width:30px;
    background-color:white;
    position:absolute;
    bottom: 5px;
    left:calc(50% - 15px);
    text-align: center;
    line-height:30px;
    border-radius:50%;
    z-index: 1;
}
